---
import { SongsTable } from '../../components/SongsTable.jsx';
import Layout from '../../layouts/Layout.astro';
import { type Album } from '../../lib/data';
import { CardPlayButton } from '../../components/CardPlayButton';
import { RandomPlayButton } from '../../components/RandomPlayButton';
import Header from '../../components/Header.astro';
import { getAlbum } from '../../services/album';
import sumHours from '../../utils/sumHours';

const { id } = Astro.params;

const album = await getAlbum({ id });

const albumSongs = album?.songs;

const duration = sumHours(albumSongs);

const colorBg = album?.color;
---

<Layout title='Spotify Clone' description='Spotify clone using Tailwind'>
  <div
    id='album-container'
    class={`relative flex flex-col transition-all duration-1000 overflow-x-hidden `}
    transition:name=`album ${id} square box`
    style={`background-color: ${colorBg}`}
  >
    <Header />
    <header
      class='flex flex-col items-center sm:items-start gap-8 px-6 pt-2 sm:pt-10'
    >
      <div
        class='flex flex-col sm:flex-row items-center sm:items-end gap-8 px-6'
      >
        <picture class='aspect-square size-32 md:size-44 lg:size-60 flex-none'>
          <img
            src={album?.imagelink}
            alt={`Cover of ${album?.title}`}
            class='object-cover size-full shadow-lg'
            transition:name=`album ${id} image square`
          />
        </picture>
        <div class='flex flex-col gap-3'>
          <span class='text-sm'>Album</span>
          <h1
            class='text-xl sm:text-4xl lg:text-6xl font-bold text-white'
            transition:name=`album ${id} title square`
          >
            {album?.title}
          </h1>
          <span class='mt-3 text-sm'>
            <span class='font-semibold'
              >{album?.artistOwner} · {album?.length} canciones,</span
            >
            <span class='text-gray-100'>cerca de {duration}</span>
          </span>
        </div>
      </div>
      <div class='flex gap-x-8'>
        <CardPlayButton
          client:load
          album={album}
          playlist={null}
          size='large'
        />
        <RandomPlayButton client:load />
      </div>
    </header>
    <div
      class='absolute -z-10 inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80'
    >
    </div>
    <section class='p-6'>
      <SongsTable album={album} playlist={null} client:load />
    </section>
  </div>
</Layout>
