---
import { SongsTable } from '@/components/SongsTable.jsx';
import Layout from '../../layouts/Layout.astro';
import { allPlaylists, songs } from '@/lib/data';
import { CardPlayButton } from '@/components/CardPlayButton';
import { RandomPlayButton } from '@/components/RandomPlayButton';

const { id } = Astro.params;

const playlist = allPlaylists.find((playlist) => playlist.id === id);
const playlistSongs = songs.filter(
  (song) => song.albumId === playlist?.albumId
);
---

<Layout title='Spotify Clone' description='Spotify clone using Tailwind'>
  <div
    id='playlist-container'
    class='relative flex flex-col transition-all duration-1000 bg-green-600 overflow-x-hidden pt-10'
    transition:name=`playlist ${id} box`
  >
    <header class='flex flex-col gap-8 px-6'>
      <div class='flex gap-8 px-6 items-end'>
        <picture class='aspect-square size-60 flex-none'>
          <img
            src={playlist?.cover}
            alt={`Cover of ${playlist?.title}`}
            class='object-cover size-full shadow-lg'
            transition:name={`playlist ${id} image`}
          />
        </picture>
        <div class='flex flex-col gap-3'>
          <span class='text-sm'>Playlist</span>
          <h1
            class='text-6xl font-bold text-white'
            transition:name={`playlist ${id} title`}
          >
            {playlist?.title}
          </h1>
          <span class='mt-3 text-sm'>
            <span class='font-semibold'
              >{playlist?.owner} · {playlistSongs.length} canciones,</span
            >
            <span class='text-gray-100'>cerca de 18h</span>
          </span>
        </div>
      </div>
      <div class='flex gap-x-8'>
        <CardPlayButton
          client:load
          id={id}
          albumId={playlist?.albumId}
          size='large'
        />
        <RandomPlayButton client:load />
      </div>
    </header>

    <!--<div class='relative z-10 px-6 pt-10'></div> -->
    <div
      class='absolute -z-10 inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80'
    >
    </div>
    <section class='p-6'>
      <SongsTable client:load songs={playlistSongs} />
    </section>
  </div>
</Layout>
