---
import { CardPlayButton } from './CardPlayButton.jsx';

const { playlist } = Astro.props;
import { fade } from 'astro:transitions';

const { title, imagelink, artists, _id: id } = playlist;

const artistsString = artists.join(', ');
---

<article
  class='group relative shadow-lg hover:shadow-xl bg-zinc-800 hover:bg-zinc-700 rounded-md transition-all duration-100 ease-in-out'
>
  <div
    class='absolute right-4 bottom-2
  transition-all duration-500 opacity-0
  group-hover:translate-y-0 group-hover:opacity-100
  z-10'
  >
    <CardPlayButton album={null} playlist={playlist} client:load />
  </div>
  <a
    href={`/playlist/${id}`}
    class='flex relative overflow-hidden items-center gap-5 rounded-md'
    transition:name={`playlist ${id} horizontal box`}
  >
    <picture class='size-16 flex-none'>
      <img
        src={imagelink}
        alt={`Cover of ${title} by ${artistsString}`}
        class='object-cover size-full'
        transition:name={`playlist ${id} image horizontal`}
      />
    </picture>

    <h2
      class='text-white font-semibold truncate'
      transition:name={`playlist ${id} title horizontal`}
    >
      {title}
    </h2>
  </a>
</article>
